<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title:index_data.title, description:index_data.description}) %>
</head>
  
<body>

<div class="content">
  <%- include('../partials/header', {title:index_data.title}) %>

  <div class="purpleblock">
<img id="header-img" src="<%= branding_data.header_img %>" alt="Picture of [User]" />
  <!--<div class="pronouns">
    <span><%= index_data.pronouns %></span>
  </div>-->

  <div class="shortbio">
    <%= index_data.short_bio %>
  </div>
</div>

  <div class="bio">
    <%= index_data.long_bio %>
  </div>

  <br />

</div>
    
<%- include('../partials/footer') %>
    
</body>
</html>